@model U2Actividad5_171G0250.Models.ViewModels.ClasificacionViewModel
@{
    Layout = "_Layout";
}

            <h1>@Model.nombreClase</h1>
    
            <ul class="especies">
                @for (int i = 0; i < Model.Especies.Length; i++)

                {
                    @foreach (var es in Model.Especies[i])
                    {
                        <li>
                           
                            <div>
                                <img src="~/especies/@(es.Id).jpg">
                            </div>
                            <h2>@es.Especie </h2>
                            <p><label>Habitat: </label>@es.Habitat</p>
                            <p><label>Peso: </label>@es.Peso</p>
                            <p><label>Tamaño: </label>@es.Tamaño</p>
                            <p>@Html.Raw(es.Observaciones)</p>



                        </li>
                    
                    }

}
               </ul>


